<div>
  <table style="width: 50%; margin: 0 auto;">
    <tr>
      <th>NAME</th>
      <th>SCORE</th>
      <th>SCORE</th>
      <th>NAME</th>
      <th>OPTIONS</th>
    </tr>
    <tr *ngFor="let score of scores; let i = index;">
      <ng-container *ngIf="i < 5">
        <td [appColor]= "'green'">{{score.player1 | uppercase}}</td>
        <td>{{score.score1}}</td>
        <td>{{score.score2}}</td>
        <td [appColor]= "'red'">{{score.player2 | uppercase}}</td>
        <td><a [routerLink]="" (click)="editScore(score)">Edit</a></td>
      </ng-container>
    </tr>
  </table>
</div>
<app-edit-score [scoreObservable]="scoreToEdit.asObservable()" (editEvent)="saveScore($event)"></app-edit-score>
